.head{
    padding: 0 20px;
    /* Permalink - http://colorzilla.com/gradient-editor/#ffe7cc+0,ff7d32+50,ff5000+52,f99625+100 */
    background: rgb(255,231,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,231,204,1) 0%, rgba(255,125,50,1) 50%, rgba(255,80,0,1) 52%, rgba(249,150,37,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,231,204,1) 0%,rgba(255,125,50,1) 50%,rgba(255,80,0,1) 52%,rgba(249,150,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,231,204,1) 0%,rgba(255,125,50,1) 50%,rgba(255,80,0,1) 52%,rgba(249,150,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe7cc', endColorstr='#f99625',GradientType=0 ); /* IE6-9 */
    border: 1px solid #BF9D60;
}

h1 {
    font-size: 16pt;
    color: white;
    font-weight: bold;
    margin: 17px 0;
}


h2 {
    font-size: 12pt;
    color: #654133;
    font-weight: bold;
}
.content-block {
    margin: 20px;
}
    
.provincesGrid{
    height: 450px;
}

.citiesGrid{
    height: 150px;
}

.subhead{
    display: inline;
}

.align-right{
    text-align: right;
}

.map-underlay {
    width: 143px;
    height: 100px;
    background-image: url('../images/map.png');   
    background-position: left top;
    position: relative;
    display: block;
}
.map-overlay {
    width: 143px;
    height: 100px;
    background-image: url('../images/map.png');
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
}

/*
colour palette

white
#F7F3D3
#EEDDB7
#DBBF85
#BF9D60
#AC8853
#957047
#7D573D
#654133
#4E2C27
black
orangered
*/