<!DOCTYPE html>
<html ng-app="CanadaApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    
    <link href="plugins/ui-bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/ui-grid/ui-grid-stable.min.css" rel="stylesheet">
    <link href="css/Site.css"  rel="stylesheet" type="text/css"/>

    <script src="plugins/angular/angular.min.js" type="text/javascript"></script>
    <script src="plugins/angular-ui-router.js" type="text/javascript"></script>
    <script src="plugins/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript"></script>
    <script src="plugins/ui-grid/ui-grid-stable.min.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/routes.js" type="text/javascript"></script>
    <script src="js/services/dataService.js" type="text/javascript"></script>
    <script src="js/controllers/provincesController.js" type="text/javascript"></script>
    <script src="js/controllers/provinceController.js" type="text/javascript"></script>
</head>
<body ng-controller="mainController">                                                                                                                                                                                                                              
    <div id="main">
        
        <h1>Canada</h1> 
        
        <a ui-sref="province">{{ id }}</a>  
        
        <div ui-view>
            <h2>Provinces</h2>
            
            <input ng-model="controls.filterString"/>
            <button type="button" class="btn btn-default" ng-click='clear()'>X</button>
            <button type="button" class="btn btn-primary" ng-click='filter()'>Filter</button>
            <div ui-grid="gridOptions" class="provincesGrid"></div>
            <!--        <a ui-sref="provinces({ id: id })">{{ id }}</a>    -->
        </div>        
    
    </div>    
    
</body>
</html>