<div>
    <div class="row">
        <div class="col-sm-8">
            <h2 class="subhead">&nbsp;</h2>
            <a class="map-underlay" title="No this is not clickable!">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-inline  pull-right">
                <input ng-model="controls.filterString" class="form-control" placeholder="Filter" ng-change="filter()" />
                <button type="button" class="btn btn-default" ng-click='clear()'>X</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div ui-grid="gridOptions"  ui-grid-selection class="provincesGrid"></div>
        </div>
    </div>
</div>